.rental-item {
    width: 420px;
    margin: 15px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.rental-item:hover {
    transform: scale(1.02);
}
.rental-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.rental-details {
    padding: 20px;
    color: #f0f0f0;
}

.rental-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.rental-item-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #20c755;
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis;
    margin-right: 14px;
}

.rental-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: #ffba00;
}

.specifications-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.location-container {
    margin-bottom: 15px;
}

.location {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.map-icon {
    margin-right: 8px;
    color: #ff5c5c;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.button {
    width: 48%;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-details-btn {
    background-color: #ffba00;
    color: black;
}

.view-details-btn:hover {
    background-color: #e5a800;
}

.contact-btn {
    background-color: #20c755;
    color: white;
}

.contact-btn:hover {
    background-color: #1a9f44;
}

@media (max-width: 768px) {
    .rental-item {
        width: 100%;
        margin: 0;
    }

    .specifications-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .button-container {
        flex-direction: row;
    }

    .button {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 5px;
    }
}

.owner-details {
    margin-top: 15px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:5px;
}

.close-modal-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.close-modal-btn:hover {
    background-color: #d32f2f;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-header h2 {
    color: #20c755;
}
